.Logement {

    display: flex;
    flex-direction: column;

    & .titleProfile{
        display: flex;
        justify-content: space-between;
    }
    
    & .doubleDropdown{
        display: flex;
        margin-top: 3%;
        margin-bottom: 3%;

        & .Dropdown {
            width: 50%;
        }
    }

    & .tagStar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2%;

        & ul{
            display: flex;

        }
        
        & li {
            display: flex;
            flex-direction: row;
            border-radius: 5px;
            margin-right: 2%;
            padding: 5px;
            background-color: #FF6060;
            color: white;
            width: 200px;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            }
        }
}