.Dropdown {

    list-style-type: none;

    & .dropdown-header {
        background-color: #FF6060;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 5px;
        color: white;
        padding: 5px;
        margin-top: 2%;
        margin-left: 8%;
        margin-right: 8%;
    }

    & h2 {
        display: flex;
        align-items: center;
    }

    & span {
        display: flex;
        align-items: center;
    }

    & .dropdown-description {
        background-color: #F6F6F6;
        color: #FF6060;
        margin-left: 8%;
        margin-right: 8%;
        display: flex;


        & p {
            margin: 2%;
            line-height: 125%;
        }

        & ul {
            margin: 2%;

            & li {
                margin: 2%;
            }
        }


    }

    & .Description {
        margin-right: 0%;
    }

    & .dropdown-header span img {
        transition: transform 0.5s ease;
        /* Transition de 0.5 seconde */
    }

    & .upArrow {
        transform: rotate(-180deg);
        /* Rotation de 180 degrés pour pointer vers le bas */
    }

    & .downArrow {
        transform: rotate(0deg);
        /* Pas de rotation pour pointer vers le haut */
    }
}