.profile {
    display: flex;
    justify-content: right;

    & span {
        display: flex;
        flex-direction: column;
        color: #FF6060;
        justify-content: center;
        font-size: larger;
        margin-right: 1%;
    }

    & img {
        width: 100px;
        border-radius: 100px;
    }
}